    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #111;
      color: #fff;
    }

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 200px;
    }

    .menu {
      position: absolute;
      top: 240px;
      left: 20px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-bottom: 30px; /* Abstand unter Menü */
    }

    .menu a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-weight: bold;
      background-color: #b8fbc1;
      padding: 10px 15px;
      border-radius: 8px;
      font-size: 1.2em;
      line-height: 1.5em;
    }

    .menu img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }

    .titel {
      margin-left: 260px;
      padding-top: 40px;
      font-family: 'Playfair Display', serif;
      font-size: 2.5em;
      font-weight: 700;
    }

    .slogan {
      margin-left: 260px;
      font-family: 'Playfair Display', serif;
      font-size: 1.5em;
      font-style: italic;
      margin-top: 5px;
    }

    .beschreibung {
      margin: 30px auto 0 auto;
      max-width: 800px;
      font-family: 'Playfair Display', serif;
      font-size: 1.1em;
      line-height: 1.7em;
      text-align: justify;
      }

    @media screen and (max-width: 768px) {
      .logo {
        width: 120px;
      }

      .menu {
        top: 160px;
        left: 10px;
        gap: 20px;
      }

      .menu a {
        font-size: 1em;
        padding: 8px 12px;
      }

      .menu img {
        width: 30px;
        height: 30px;
      }

      .titel, .slogan {
        text-align: center;
      }
    }
