    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fff;
      color: #111;
    }

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 200px;
    }

    .menu {
      margin: 40px 0 30px 20px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }


    .menu a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-weight: bold;
      background-color: #b8fbc1;
      padding: 10px 15px;
      border-radius: 8px;
      font-size: 1.2em;
      line-height: 1.5em;
    }

    .menu img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }

    .titel {
     margin: 40px 20px 0 20px;
    }

    .slogan {
      margin: 10px 20px;
    }

    .beschreibung {
      margin: 30px auto 0 auto;
      max-width: 800px;
      font-family: 'Playfair Display', serif;
      font-size: 1.1em;
      line-height: 1.7em;
      text-align: justify;
      }

    @media screen and (max-width: 768px) {
      .logo {
        width: 120px;
      }

      .menu {
        margin-top: 20px;
        position: static;
        align-items: center;
      }

      .menu a {
        font-size: 1em;
        padding: 8px 12px;
      }

      .menu img {
        width: 30px;
        height: 30px;
      }

      .titel, .slogan {
        text-align: center;
      }
    }
